<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Continente</title>
</head>
<body>
<h1>Editar Continente</h1>
<p><a th:href="@{/continente}">Continentes</a> / Editar</p>
<br>
<form th:action="@{/continente/salvar}" th:object="${elemento}" method="post">
<table>
    <tr>
        <td>ID</td>
        <td><input readonly type="text" th:field="*{id}"></td>
    </tr>
    <tr>
        <td>Nome</td>
        <td><input type="text" th:field="*{nome}"></td>
    </tr>
    <tr>
        <td><a th:href="@{/continente/{id}/excluir(id=${id})}">Excluir</a></td>
        <td><button type="submit">Salvar</button></td>
    </tr>
</table>
</form>
<p th:if="${erro != null}" th:text="${erro}"></p>
<br>
</body>
</html>