<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Usuário</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>
    <div id="meio">
<div id="inner">
    <h1>Usuários</h1>
    <p><a th:href="@{/usuario/novo}">Novo</a></p>
    <br>
    <table th:if="${lista.size()} > 0">
        <tr>
            <td>ID</td>
            <td>Nome Completo</td>
            <td>E-mail</td>
            <td>Data de nascimento</td>
            <td>senha</td>
            <td>Admin</td>
            <td>Pedidos</td>
        </tr>
        <tr th:each="e : ${lista}">
            <td th:text="${e.id}">ID</td>
            <td  th:text="${e.nomeCompleto}">Nome</td>
            <td  th:text="${e.email}">Marca</td>
            <td  th:text="${e.dataNascimento}">Caracteristicas</td>
            <td  th:text="${e.senha}">Preço</td>
            <td  th:text="${e.admin}">Quantidade</td>
            <td  th:text="${e.pedidos}">Quantidade</td>
            <td><a th:href="@{/produto/{id}(id=${e.id})}">Editar</a></td>
        </tr>
    </table>
    <p th:unless="${lista.size()} > 0">Não há usuários cadastrados.</p>
    <br>
</div>
</div>
</body>
</html>