<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Login</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">

        <div id="inner" >
            <div id="login">
                <h2>Login: </h2>
                <form th:action="@{/sessao/login}" th:object="${usuario}" method="post">
                    <input type="text" id="usuario" placeholder="E-mail: " th:field="*{email}">
                    <input type="text" id="senha" placeholder="Senha: "th:field="*{senha}">
                    <button id="submit"> Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>