<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Novo Usuário</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">
        
        <div id="inner">
            <div id="outer">
                <h2>Cadastrar Usuário</h2>
                <p><a th:href="@{/usuario}">Usuário</a> / Novo</p>
            </div>
            <form id="cadastraPneu" th:action="@{/usuario/salvar}" th:object="${usuario}" method="post">
                <label for="preco">Nome Completo</label>
                <input type="text" name="nome" id="nome" placeholder="Nome Completo: " th:field="*{nomeCompleto}">
                <p th:if="${#fields.hasErrors('nomeCompleto')}" th:errors="*{nomeCompleto}">Erro de nome</p>

                <label for="nome">E-mail</label>
                <input type="text" name="email" id="email" placeholder="E-mail: " th:field="*{email}">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro de email</p>

                <label for="txtDataNascimento">Data de Nascimento:</label>
                <input type="date" th:field="*{dataNascimento}" id="txtDataNascimento">
                <p th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></p>

                <label for="senha">Senha</label>
                <input type="text" name="senha" id="senha" placeholder="Senha: " th:field="*{senha}">
                <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Erro de senha</p>
                
                <label for="admin">Admin?</label>
                <div id="radiodiv">
                    <input type="radio" name="yes_no" th:field="*{admin}" value="true" id="sim" class="radiosim"></input>
                    <label for="sim">Sim</label>
                    <br>
                    <input type="radio" name="yes_no" th:field="*{admin}" value="false" id="nao" checked class="radionao"></input>
                    <label for="nao">Não</label>
                </div>

                <button id="btnSalvar" type="submit">Salvar</button>
            </form>

            <p th:if="${erro != null}" th:text="${erro}"></p>
        </div>
    </div>
</body>
</html>