<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Document</title>
</head>
<body>
  <div id="header">
    <h2><strong>PneuXpress</strong></h2>
    <ul id="options">
        <li><a th:href="@{/estoque}">Estoque</a></li>
        <!-- <li><a href="home.html">Home</a></li> -->
        <li><a th:href="@{/cadastros}">Cadastros</a></li>
        <li><a th:href="@{/produto}">Produtos</a></li> 
    </ul>
    <ul id="login">
        <li>Editar Usuário</li>
        <li>Sign up</li>
        <li>Sign In</li>
    </ul>
</div>
    <div id="inner">
        <div class="form">
          <h2><strong>Home: </strong></h2>

          <form id="myform" th:action="@{/itemPedido/salvar}" th:object="${elemento}" method="post">
          <!-- <form id="myform" th:action="@{/itemPedido/(incrementar)}" th:object="${elemento}" method="post"> -->
            <label for="Product"><strong>Produto:</strong></label>

            <select id="Product" name="Product" th:field="*{produto}">
                <option th:each="produto : ${listaProduto}"
                        th:value="${produto.id}"
                        th:text="${produto.nomeDisplay}">
                </option>
            </select>

            <div id="gapp">
              <input type="text" id="amount" name="amount" placeholder="Amount" th:field="*{quantidade}"/>
              <input type="text" id="total" name="total" disabled placeholder="Total:"/>

              <div id="flex">
                <input type="text" id="unitprice" name="unitprice" disabled placeholder="Unit Price" th:field="*{produto.preco}"/> <!--  -->
                <input type="text" id="tax" name="tax" placeholder="Tax" disabled/>
                <input type="text" id="totalTax" name="totalTax" placeholder="Total Tax" disabled/>
              </div>
              
            </div>

            <br/>
            <button type="submit" id="btnSalvar" name="incrementar">Adicionar</button>
          </form>
        </div>

        <div id="Categories" class="flex-container2">
          
          <div class="tabela">
            <h3><strong>Cart:</strong></h3>
            <p th:text="'pedido: ' + ${pedido.id}"></p>

            <!-- <table id="tabela2" th:if="${pedido.itens.size()} > 0"> -->
            <table id="tabela2" > <!-- th:if="${pedido.itens}"-->
              <tr>
                <th id="id proda"><strong>Code</strong></th>
                <th id="prod1"><strong>Product</strong></th>
                <th id="UnitPrice"><strong>Unit price</strong></th>
                <th id="Amount"><strong>Amount</strong></th>
                <th id="Total"><strong>Total</strong></th>
                <th></th>
              </tr>
              <tr th:each="e : ${pedido.itens}">
                <td  th:text="${e.id}">ID</td>
                <td  th:text="${e.produto.nomeDisplay}">Nome</td>
                <td  th:text="${e.produto.preco}">Marca</td>
                <td  th:text="${e.quantidade}">Preço</td>
                <td  th:text="${e.custo}">Caracteristicas</td>
                <!-- <td><a th:href="@{/produto/{id}(id=${e.id})}">Editar</a></td> -->
              </tr>
            </table>

            <p th:unless="${lista.size()} > 0">Não há item cadastrado.</p>
            <p th:if="${pedido == null}" th:text="Não há pedido"></p>
          </div>
          <div class="flex-container3">
            <div class="paga">
              <form id="pagamento">
                <label for="taxed"><strong>Tax:</strong></label>
                <input type="text" id="taxed" name="taxed" disabled/><br />
                <label for="totaled"><strong>Total:</strong></label>
                <input type="text" id="totaled" name="totaled" disabled/>
              </form>
            </div>


            <div class="botao">
              <button type="button" id="cancel">Cancel</button>
              <button type="button" id="finish">Finish</button>
              <p th:if="${erro != null}" th:text="${erro}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>