<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Novo Produto</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">
        <div id="inner">
            <P>Selecione um item para ir a tela de cadastro:</p>

            <ul id="cads">
                <li><a th:href="@{/marca}">Marca</a></li>
                <li><a th:href="@{/caracteristicas}">Caracteristicas</a></li>
                <li><a th:href="@{/produto}">Produtos</a></li>    
                <li><a th:href="@{/usuario}">Usuário</a></li>    
            </ul>
        </div>
    </div>
</body>
</html>