<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Nova Caracteristica</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">


        <div id="inner">
            <div id="outer">
                <h2>Cadastrar Características</h2>
                <p><a th:href="@{/caracteristicas}">Caracteristicas</a> / Novo</p>
                <button>Voltar</button>
            </div>
            <form id="cadastraPneu" th:action="@{/caracteristicas/salvar}" th:object="${elemento}" method="post">
                <input type="text" name="cat" id="cat" placeholder="Categoria: " th:field="*{categoria}">
                <input type="text" name="lar" id="lar" placeholder="Largura: " th:field="*{largura}">
                <input type="text" name="per" id="per" placeholder="Perfil: " th:field="*{perfil}">
                <input type="text" name="aro" id="aro" placeholder="Aro: " th:field="*{aro}">

                <button id="btnSalvar" type="submit">Salvar</button>
            </form>

            <p th:if="${erro != null}" th:text="${erro}"></p>
        </div>
    </div>
</body>
</html>