<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/cadastro.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>
        <ul id="options">
          <li><a href="estoque.html">Estoque</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="cadastrarPneu.html">Cadastrar</a></li>
          <li><a href="products.html">Produtos</a></li>
            
            
            
        </ul>
        <ul id="login">
            <li><a href="editarUser.html">Editar</a></li>
            <li><a href="cadastro.html">Sign up</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
    <div id="corpo">
        <div id="outer">
            <h2>Cadastrar Produto</h2>

            <button>Voltar</button>
        </div>
        <div id="inner">
            <form id="cadastraPneu">
                <label for="marca">Marca</label>
                <select name="marca" id="marca">
                <option value=""></option>
                </select>
                <input type="text" name="dim" id="dim" placeholder="Dimensões: ">
                <input type="number" name="preco" id="preco" placeholder="Preço: ">
                <input type="text" name="nome" id="nome" placeholder="Nome: ">
                <button id="btnSalvar">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>