<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>
        <ul id="options">
            <a>Options</a>
            <a>Lista de pedidos</a>
            <a>Cadastrar produtos</a>
        </ul>
        <ul id="login">
            <li>Editar Usuário</li>
            <li>Sign up</li>
            <li>Sign In</li>
        </ul>
    </div>
    <div id="corpo">
        <div id="outer">
            <h2>Cadastrar Produtos</h2>

            <button>Voltar</button>
        </div>
    <div id="corpo">
        <div id="outer">

        </div>
        <div id="inner">
            <table>
                <thead >
                    <tr>
                        <td>Id</td>
                        <td>Marca</td>
                        <td>Dimensões</td>
                        <td>Nome</td>
                        <td>Estoque</td>
                        <td>Preço</td>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>