<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>
        <ul id="options">
          <li><a href="estoque.html">Estoque</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="cadastrarPneu.html">Cadastrar</a></li>
          <li><a href="products.html">Produtos</a></li>
            
            
            
        </ul>
        <ul id="loginHead">
            <li><a href="editarUser.html">Editar</a></li>
            <li><a href="cadastro.html">Sign up</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
    <div id="meio">
    <div id="login">
        <h2>Login: </h2>
        <form action="">
            <input type="text" id="usuario" placeholder="Usuário: ">
            <input type="text" id="senha" placeholder="Senha: ">
            <button id="submit"> Entrar</button>

        </form>
    </div>
</div>
</body>
</html>