<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>
        <ul id="options">
          <li><a href="estoque.html">Estoque</a></li>
          <li><a href="home.html">Home</a></li>
          <li><a href="cadastrarPneu.html">Cadastrar</a></li>
          <li><a href="products.html">Produtos</a></li>
            
            
            
        </ul>
        <ul id="login">
            <li>Editar Usuário</li>
            <li>Sign up</li>
            <li>Sign In</li>
        </ul>
    </div>
    <div>
        <h2>Products</h2>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>Product Name</td>
                    <td>Qtd</td>
                    <td>Price</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pneu Pirelli Aro 21 P Zero (N1) 295/35R21 107Y XL</td>
                    <td>4</td>
                    <td>1900</td>
                    <td>
                        <button>View</button>
                        <button>Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>