<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Document</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">
        <div id="outer">
            <h2>Cadastrar Produtos</h2>
            <p><a th:href="@{/cadastrarPneu}">Estoque</a></p>
            <button>Voltar</button>
        </div>
    </div>

    <div id="corpo">
        <div id="outer">
        </div>

        <div id="inner">
            <div class="produto" th:each="prod : ${listaProduto}">
                <img th:src="${prod.imagem}" alt="" srcset="">
                <p th:text="${prod.nomeDisplay}"></p>
                <span th:text="${prod.marca.nome}"></span>
                <span th:text="${prod.quantidadeEstoque} + ' unidade(s)'"></span>
            </div>
        </div>
    </div>
</body>
</html>