<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Estoque</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">
        <div id="outer">
        </div>

        <div id="inner">
            <h2>Produtos</h2>
            <div id="ladolado">
            <div th:each="prod : ${listaProduto}" class="produto">
                
                <img th:src="${prod.imagem}" alt="Imagem do produto" />
                
                
                <p th:text="${prod.nomeDisplay}">Nome do produto</p>
                
                
                <span th:text="${prod.marca.nome}">Marca</span>
                
                
                <span th:text="${prod.quantidadeEstoque} + ' unidade(s)'">Quantidade</span>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
