*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #685c7c;
    display: flex; 
    flex-direction: column;
    align-content: center;


}

.meio{
    display: flex;
    align-items: center;
}

#header{
    display: flex;
    background-color: #8084cc;
    align-items: center;
    justify-content: space-around;

}

ul{
    display: flex;
    flex-direction: row;
}

li{
    margin: 10px;
}
#outer{
    margin: 1%;
    width: 100%;
    display: flex;
    
    justify-content: space-between;

}

#inner{
    display: flex;
    margin: 3%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #e0dcdc;
    height: 350px;
    width: 50%;
}

input{
    margin-bottom: 5px;
    margin-top: 5px;
}

#corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cadastraPneu{
    /* margin: 0 auto; */
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#meio {
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

a.hover{
    color: #f3f3f3;
}

li{
    text-decoration: none;
}

td {
    width: fit-content;
    height: fit-content;
    width: 90px;
}