@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

body{
    background-color: #685c7c;
    display: flex; 
    flex-direction: column;
    align-content: center;


}

.meio{
    display: flex;
    align-items: center;
}

#header{
    display: flex;
    background-color: #8084cc;
    align-items: center;
    justify-content: space-around;

}

ul{
    display: flex;
    flex-direction: row;
}
ol, ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    margin: 10px;
}
#outer{
    margin: 1%;
    width: 100%;
    display: flex;
    
    justify-content: space-between;

}

#inner{
    padding: 30px;
    display: flex;
    margin: 3%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #e0dcdc;
    min-height: 350px;
    height: fit-content;
    width: 50%;
}


input{
    margin-bottom: 5px;
    margin-top: 5px;
}

#ladolado {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.produto {
    width: 250px; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
}

img {
    width: 100%; 
    height: auto; 
    max-width: 150px;
    max-height: 150px;
    border-bottom: 1px solid #ddd; 
    margin-bottom: 10px; 
}

h2 {
    text-align: center; 
}


#corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cadastraPneu{
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#meio {
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

a.hover{
    color: #f3f3f3;
}

a:hover{
    color: rgb(84, 81, 255);
}

#btnExclui{
    color: red;
}

#btnExclui.hover{
    background-color: red;
}

td {
    width: fit-content;
    height: fit-content;
    width: 90px;
}

#cancel{
    font-size: larger;
    margin-right: 15px;
    margin-bottom: 15px;
}
#cancel:hover{
    color: red;
}

#final{
    font-size: larger;
}
#final:hover{
    color: rgb(10, 216, 10);
}