.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

#cabecalho {
  background-color: cornflowerblue;
  align-items: center;
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1,
li {
  margin: 1%;
}

#classe {
  margin: 1%;
  justify-content: center;
}


#tabela2 {

  width: 100%;
  justify-content: center;
  align-self: center;
}

#purId {
  width: 250px;
  height: 30px;
}

#data {
  width: 150px;
}


#price {
  width: 100px;
}

th,
td {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

tr,
td {
  border-bottom: 2px solid #96d4d4;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  border-spacing: 10px;
}


#tabela{

  width: 100%;
}


button{
  margin: 15px;
  
}

#100{
  width: 500px;
}