.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}

.font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 3%;
  margin-right: 3%;
  width: 45%;
  
  
  
}
.flex-container2 {
  flex-direction: column;
  align-items: stretch;
  margin-left: 3%;
  margin-right: 3%;
  width: 45%;
  height: stretch;
  float: right;
  float: top;
}
#cabecalho {
  background-color: cornflowerblue;
  align-items: center;
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1,
li {
  margin: 1%;
}





#linha {
  background-color: #96d4d4;
  width: 3px;
}

.tudo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: auto;
  margin: 1%;
  justify-content: center;

}



#CatName {
  width: 98%;
  height: 30px;
  margin: 1%;
  margin-bottom: 4px;
  float: right;
}
#id {
  width: 80%;
  height: 30px;
  margin: 1%;
  margin-bottom: 4px;
  float: right;
}
#tax {
  min-width: 30%;
  height: 30px;
  width: 98%;
  margin: 1%;
  margin-bottom: 4px;
  float: right;
}

#delete {
  margin-bottom: 4px;
  margin-left: 4px;
  border-bottom: 2px #96d4d4;
}

#btnSalvar {
  width: 98.5%;
  height: 30px;
  background-color: cornflowerblue;
  margin: 1%;
  border: 0px;
  border-radius: 3px;
  float: right;
}

#codd {
  width: 30%;
  height: 40px;
}

#catt {
  width: 50%;
}

#taxx {
  width: 20%;
}

tr,
td {
  border-bottom: 2px solid #96d4d4;
  border-right: 2px solid #96d4d4;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

th {
  border-right: 2px solid #96d4d4;
}

/* #tabelaCategori {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: cent;
  margin-left: 3%;
  margin-right: 3%;
} */
