<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Layout</title>
</head>
<body>
    <nav th:fragment="header">
        <div id="header">
            <h2><a th:href="@{/estoque}"<strong>PneuXpress</strong></a></h2>

            <ul id="options">
            <li><a th:href="@{/estoque}">Estoque</a></li>
            <span th:if="${sessao != null and sessao.usuarioAtual?.admin == true}">
                <li><a th:href="@{/cadastros}">Cadastros</a></li>
            </span>
            <li><a th:href="@{/produto}">Produtos</a></li>    
            <li><a th:href="@{/itemPedido}">Novo Pedido</a></li>    
            </ul>

            <span th:if="${sessao.usuarioAtual != null}">
                <a th:href="@{/usuario}"><p th:text="'Bem vindo, ' +${sessao.usuarioAtual?.nomeCompleto}"></p></a>
            </span>
            <!-- <p th:if="${sessao != null}" th:text="'Bem vindo, ' + |?${T(src\main\java\br\edu\univille\poo\pneuxpress\entity\Sessao.java).usuarioAtual.nomeCompleto}|"></p> -->

            <ul id="login">
                <!-- <li><a th:href="@{/usuario/editar}">Editar</a></li> -->
                <li><a th:href="@{/usuario/novo}">Cadastrar</a></li>
                <li><a th:href="@{/usuario/login}">Login</a></li>
            </ul>
        </div>
    </nav>
    <div id="corpo">
        <div id="outer">
    
        </div>

        <div id="inner">
           <!-- <p>Links</p> -->
           <p>Bem vindo</p>
           <p>Selecione 1 link acima</p>
           
            <!-- <ul id="options">
                <li><a th:href="@{/estoque}">Estoque</a></li>
                <li><a th:href="@{/cadastros}">Cadastros</a></li>
                <li><a th:href="@{/produto}">Produtos</a></li>    
            </ul> -->
        </div>
    </div>
</body>
</html>