<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Editar Produto</title>
</head>
<body>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>

        <ul id="options">
          <li><a th:href="@{/estoque}">Estoque</a></li>
          <!-- <li><a href="home.html">Home</a></li> -->
          <li><a th:href="@{/cadastros}">Cadastros</a></li>
          <li><a th:href="@{/produto}">Produtos</a></li>    
        </ul>

        <ul id="login">
            <li><a href="editarUser.html">Editar</a></li>
            <li><a href="cadastro.html">Sign up</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>

    <div id="corpo">
        <div id="outer">
            <h2>Editar Produto</h2>
            <p><a th:href="@{/produto}">Produtos</a> / Editar</p>
            <button>Voltar</button>
        </div>

        <div id="inner">
            <form id="cadastraPneu" th:action="@{/produto/salvar}" th:object="${elemento}" method="post">
                <span>ID</span>
                <input readonly type="text" th:field="*{id}">
                <label for="marca">Marca</label>
                <select name="marca" id="marca" th:field="*{marca}">
                    <option th:each="marca : ${listaMarca}"
                        th:value="${marca.id}"
                        th:text="${marca.nome}">
                    </option>
                </select>
                <label for="caracteristicas">Caracteristicas</label>
                <select name="caracteristicas" id="caracteristicas" th:field="*{caracteristicas}">
                    <option th:each="caracteristicas : ${listaCaracteristicas}"
                        th:value="${caracteristicas.id}"
                        th:text="${caracteristicas.nome()}">
                    </option>
                </select>
                <input type="number" name="preco" id="preco" placeholder="Preço: " th:field="*{preco}">
                <input type="text" name="nome" id="nome" placeholder="Nome: " th:field="*{nomeDisplay}">
                <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade: " th:field="*{quantidadeEstoque}">
                <input type="text" name="imagem" id="imagem" placeholder="Imagem: " th:field="*{imagem}">
                <button id="btnSalvar" type="submit">Salvar</button>
            </form>

            <p th:if="${erro != null}" th:text="${erro}"></p>
        </div>
    </div>
</body>
</html>