<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Novo Produto</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div id="corpo">
        
        <div id="inner">
            <div id="outer">
                <h2>Cadastrar Produto</h2>
                <p><a th:href="@{/produto}">Produtos</a> / Novo</p>
                <button>Voltar</button>
            </div>
            <form id="cadastraPneu" th:action="@{/produto/salvar}" th:object="${elemento}" method="post">
                <label for="marca">Marca</label>
                <select name="marca" id="marca" th:field="*{marca}">
                    <option th:each="marca : ${listaMarca}"
                        th:value="${marca.id}"
                        th:text="${marca.nome}">
                    </option>
                </select>

                <label for="caracteristicas">Dimensões</label>
                <select name="caracteristicas" id="caracteristicas" th:field="*{caracteristicas}">
                    <option th:each="caracteristicas : ${listaCaracteristicas}"
                        th:value="${caracteristicas.id}"
                        th:text="${caracteristicas.nome()}">
                    </option>
                </select>
                <!-- <input type="text" name="dim" id="dim" placeholder="Dimensões: " th:field="*{caracteristicas}"> -->
                <label for="preco">Preco</label>
                <input type="number" name="preco" id="preco" placeholder="Preço: " th:field="*{preco}">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="Nome: " th:field="*{nomeDisplay}">
                <label for="quantidade">Quantidade</label>
                <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade: " th:field="*{quantidadeEstoque}">
                <label for="imagem">Imagem</label>
                <input type="text" name="imagem" id="imagem" placeholder="Imagem: " th:field="*{imagem}">
                <button id="btnSalvar" type="submit">Salvar</button>
            </form>

            <p th:if="${erro != null}" th:text="${erro}"></p>
        </div>
    </div>
</body>
</html>