<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Marca</title>
</head>
<body>
    <nav th:replace="layout :: header"></nav>
    
    <div id="meio">
    <div id="inner">
    <h1>Marca</h1>
    
    <p><a th:href="@{/marca/novo}">Novo</a></p>
    <p><a th:href="@{/estoque}">Estoque</a></p>
    <br>
    <table th:if="${lista.size()} > 0">
        <tr>
            <td>ID</td><td>Nome</td>
        </tr>
        <tr th:each="e : ${lista}">
            <td th:text="${e.id}">ID</td>
            <td  th:text="${e.nome}">Nome</td>
            <td><a th:href="@{/marca/{id}(id=${e.id})}">Editar</a></td>
        </tr>
    </table>
    <p th:unless="${lista.size()} > 0">Não há marca cadastrados.</p>
    <br>
</div>
</div>
</body>
</html>