<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../static/css/cadastro.css"> -->
    <link rel="stylesheet" href="/css/cadastro.css">
    <title>Novo Marca</title>
</head>
<body>
    <div id="header">
        <h2><strong>PneuXpress</strong></h2>

        <ul id="options">
          <li><a th:href="@{/estoque}">Estoque</a></li>
          <!-- <li><a href="home.html">Home</a></li> -->
          <li><a th:href="@{/cadastros}">Cadastros</a></li>
          <li><a th:href="@{/produto}">Produtos</a></li>    
        </ul>

        <ul id="login">
            <li><a href="editarUser.html">Editar</a></li>
            <li><a href="cadastro.html">Sign up</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>

    <div id="corpo">
        
        <div id="inner">
            <div id="outer">
                <p><a th:href="@{/marca}">Marca</a> / Novo</p>
                <button>Voltar</button>
            </div>
            <form id="cadastraPneu" th:action="@{/marca/salvar}" th:object="${elemento}" method="post">
                <h2>Cadastrar Marca</h2>
                <input type="text" name="nome" id="nome" placeholder="Nome: " th:field="*{nome}">
                <button id="btnSalvar" type="submit">Salvar</button>
            </form>

            <p th:if="${erro != null}" th:text="${erro}"></p>
        </div>
    </div>
</body>
</html>